<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Token" value="acef2f61ac22c2e08ec6411414f367c1"/>
		<add key="ApiUrl" value="https://api.openweathermap.org/data/2.5/weather?q="/>
		<add key="Units" value="metric"/>
	</appSettings>
</configuration>